@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
* {}

body {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(83, 165, 189, 1) 91%, rgba(129, 144, 131, 0.9444152661064426) 99%, rgba(54, 105, 199, 0.1825105042016807) 100%);
}

.filter {
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1", endColorstr="#c74ae9", GradientType=1);
}

.footer {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 70%;
    margin-left: 40%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    max-width: 50%;
    margin: 0px auto;
}

td,
th {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: rgb(63, 94, 251);
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}